{% extends 'form_div_layout.html.twig' %}

{% block field_label %}
    {% set asterisk = required %}

    {% for key, value in attr %}
        {% if key == 'asterisk' and value == false %}
            {% set asterisk = false %}
        {% endif %}
    {% endfor %}

    {% if asterisk == true %}
        <span class="required" title="This field is required">*</span>
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block form_label %}
    {% if required %}
        <span class="required" title="This field is required">*</span>
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block choice_widget_options %}
    {% spaceless %}
        {% for group_label, choice in options %}
            {% if choice is iterable %}
                {% set options = choice %}
                {{ block('choice_widget_options') }}
            {% else %}
                <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock choice_widget_options %}